name: Test functionality in Docker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the test Docker image
      run: |
        docker pull mikenye/postfix:development
        docker build --no-cache -t mikenye/milter-decode-headers-test -f tests/Dockerfile .
    - name: Run test Docker image
      run: |
        docker run --rm --name milter-decode-headers-test -e POSTMASTER_EMAIL=postmaster@testserver -e POSTFIX_INET_PROTOCOLS=ipv4 -e POSTFIX_MYHOSTNAME=testserver -e POSTFIX_REJECT_INVALID_HELO_HOSTNAME=false -e POSTFIX_REJECT_NON_FQDN_HELO_HOSTNAME=false -e POSTFIX_REJECT_UNKNOWN_HELO_HOSTNAME=false -e POSTFIX_SMTPUTF8_ENABLE=true mikenye/milter-decode-headers-test
